* {
  transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
}

html, body, section, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
  -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
  color: #fff;
  background: rgb(0, 0, 0,0.9)  url('../images/bgx.jpg'); 
  overflow: hidden;
  background-position: top-right;
  background-size: cover;
  background-repeat: no-repeat;
}
section {
  width: 500%;  
}

.page {
  position: absolute;
}
#p1 {
  left: 0;
}

#p2 {
  left: 100%;
  background: #ED2024;
}

#p3 {
  left: 200%;
  background: #7C4DFF;
}

#p4 {
  left: 300%;
  background: #90ee02;
}
#p5 {
  left: 400%;
  background: #6002ee;
}
#p6 {
  left: 500%;
  background: #ee6002;
}
ul {
 position: fixed; 
 z-index: 1;
}
#m1:target .page#p1 {
    transform: translateX(0);
}
#m2:target .page#p2 {
    transform: translateX(-90%);
}
#m3:target .page#p3 {
    transform: translateX(-190%);
}
#m4:target .page#p4 {
    transform: translateX(-290%);
}
#m5:target .page#p5 {
    transform: translateX(-390%);
}
#m6:target .page#p6 {
    transform: translateX(-490%);
}
#m2:target .page#p1, 
#m3:target .page#p1,
#m4:target .page#p1,
#m5:target .page#p1,
#m6:target .page#p1 {
   -webkit-filter: blur(5px);
  filter: blur(5px);
  background-color: rgba(33,33,33,0.8); 
}

.icon {
  color: #CBCBCA;
  font-size: 26px;
  display: block;
}
ul .icon:hover {
  opacity: 0.6;
}
#m2:target ul .icon,
#m3:target ul .icon,
#m4:target ul .icon,
#m5:target ul .icon,
#m6:target ul .icon {
  transform: scale(.6); 
  transition-delay: .25s;
}
#m2:target #icon2 {
  transform: scale(1.2) !important;
}

#m3:target #icon3 {
  transform: scale(1.2) !important;
}

#m4:target #icon4 {
  transform: scale(1.2) !important;
}
#m5:target #icon5 {
  transform: scale(1.2) !important;
}

#m6:target #icon6 {
  transform: scale(1.2) !important;
}
ul {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 10%;
  padding: 0;
  text-align: center;
 }

ul li {
  margin: 30px 0;
}

a {
  text-decoration: none;
  outline: none;
  font-family: open sans, sans-serif;
}

#head {
  position: absolute;
  top: 45%;
  left: 8%;
  transform: translateY(-50%);
  resize: vertical;
  overflow: auto;
}
h1 {
	font-family: "Delius Swash Caps";
	font-size: 50px;
	font-style: italic;
    color: #F68B1F;
}
p {
	font-style: italic;
	font-size: 20px;
	text-decoration: none;
}
.listhead {

  top:90%;
  left:80%;
  position:relative;
  display:block;
  width:50px;
  height:50px;
  background-color:transparent;
  border-radius:50%;
  z-index:20;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}
.listhead a {
	color: #F68B1F;
	font-size: 15px;
}
.i1 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:30px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position:absolute;
}
.i2 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:30px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
.i3 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:30px;
    top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;  
}
  .i4 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:30px;
  top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
}
.c1 {
 
  width:55px;
  height:55px;
  background:#7C4DFF;
  border: 5px solid rgba(14,14,14,0.6);
  border-radius:50%;
  position:relative;
  z-index:19;
  color:white;
  text-align:center;
  line-height:45px;
  cursor:pointer;
  position:fixed;

}
@media only screen and (min-width: 768px) {
	.listhead {
		
		left: 90%;
	}
}
